
body{

background: #050b24;
color: white;
font-family: Arial;
padding: 30px;

}

.history-item{

background: rgba(255,255,255,0.06);
padding: 20px;
border-radius: 20px;
margin-bottom: 20px;
border: 1px solid cyan;

}

button{

padding: 15px 25px;
border-radius: 15px;
border: none;
cursor: pointer;
font-size: 18px;

background: linear-gradient(
45deg,
#00d4ff,
#8a5cff
);

color: white;

}
